<footer>
    <section class="section-footer">
        <div class="columna-uno">
            <a class="footer-image-container" href="/">
                <img class="header-img" src="/images/favicon.ico" alt="Custom tech">
                <h4>CUSTOMTECH</h4>
            </a>

            <p>Av.San Martín 1234 Caballito</p>
            <a href="">info@customtech.com.ar</a><!--la idea podria ser utilizarlo como hipervinculo para redirigir a el mail-->

            <ul class="footer-social-container">
                <li><i class="fa-brands fa-whatsapp"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
            </ul>

            
        </div>

        <div class="footer-hour">
            <h4>HORARIOS</h4>
            <div>
                <p>Lunes a Viernes</p>
                <P>09:00 - 17.00hs</P>
            </div>
           <div>
                <P>Sabados</P>
                <p>10:00 - 14:00hs</P>
           </div>
        </div>


        <div class="footer-form">
            <p class="novedades">RECIBIR NOVEDADES!</p>
            <input class="footer-input" type="text" name="email" placeholder="Ingresa tu email">
        </div>


        <div class="section-help">
            <div class="section-help-title" >
                <a href="/"><h3>Ayuda</h3></a>
            </div>
            <ul>
                
            </ul>
            <ul>
                <li>
                    <a href="">Preguntas frecuentes</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">Garantía</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">Defensa y derechos del consumidor</a>
                </li>
            </ul>
        </div>
    </section>

    <div class="copyright">
        <p>© 2023 CUSTOMTECH. Todos los derechos reservados. Imprimir PáginaPrivacidad Mapa del Sitio Términos de
            uso</p>
    </div>

</footer>