<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <div class="header-container">
              <a class="header-image-container" href="/">
                <img class="header-img" src="images/favicon.ico" alt="Custom tech">
                <p>CUSTOMTECH</p>
              </a>
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Buscar..." class="header-search-input"  >
            </div>
            <nav>
                <ul>
                    <li><a href="login"><i class="fa-solid fa-user"></i></a></li>
                    <li><a href="productWhisList"> <i class="fa-solid fa-heart"></i></a></li>
                    <li><a href="productCart"> <i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <section class="header-categories">
            <h4>Categorias <i class="fa-solid fa-chevron-down"></i> </h4>
        </section>
    </header>


    
    <footer>
        <section class="sectionFooter">
            <div class="columnaUno">
                <a class="header-image-container" href="/">
                    <img class="header-img" src="images/favicon.ico" alt="Custom tech">
                    <p>CUSTOMTECH</p>
                </a>                
                <p>Av.San Martín 1234 Caballito</p>
                <li>
                    <a href="">info@customtech.com.ar</a><!--la idea podria ser utilizarlo como hipervinculo para redirigir a el mail-->       
                </li>
                
                <div>
                    <div><i class="fa-brands fa-whatsapp"></i><p>+54-1234-5678</p><i></i></div>
                    <i class="fa-brands fa-square-instagram"></i><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-twitter"></i>
                </div>
            </div>
            
            <div class="columnaDos">
                <h4>HORARIOS</h4>
                <p>Lunes a Viernes</p>
                <P>09:00 - 17.00hs</P>
                <P>Sabados</P>
                <p>10:00 - 14:00hs</P>
                </div>
                
                
                <div class="buscador">
                    <div class="buscadorImput">
                        <input class="imput" type="text" name="Ingresa tu email" placeholder="Ingresa tu email">
                    </div>
                    <div>
                        <p class="novedades">RECIBIR NOVEDADES</p>
                    </div>
                    
                </div>
                
                
                <div class="columnaCuatro">
                <ul>
                    <li>
                        <a href=""><h4>AYUDA</h4></a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="">Preguntas frecuentes</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="">Garantía</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="">Defensa y derechos del consumidor</a>
                    </li>
                </ul>
            </div>
        </section>
        
        <div>
            <p>© 2023 CUSTOMTECH. Todos los derechos reservados. Imprimir PáginaPrivacidad Mapa del Sitio Términos de uso</p>
        </div>
        
    </footer>
    <script src='/js/javascript.js'></script>
</html>
